
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ko">

<head>

    <meta name="viewport" content="width=device-width" />
    <title>Inpterpark - LDAP</title>
    <link href="~/css/frameworks-next.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/interparkn.ico" />

</head>

<body class="logged-out env-production page-responsive session-authentication">

    <div class="application-main" style="margin-top:100px">

        <div class="auth-form px-3">
            <div class="auth-form-header p-0">
                <h1>Reset your password</h1>
            </div>


            <div id="divError" class="alert alert-danger">
                <a id="linkClose" class="close" href="#">&times;</a>
                <div id="divErrorText">interpark.com</div>
            </div>

            <div class="auth-form-body mt-3">
                <label for="email_field">사번 입력 후 패스워드 리셋 버튼을 누르면 패스워드 재설정 링크가 사내 메일로 전달 됩니다.</label>
                <input type="text" name="email" id="email_field" class="form-control input-block" autofocus="autofocus" placeholder="사번 입력">
                <input name="commit" type="submit" value="Send password reset email" class="btn btn-primary btn-block">
            </div>

        </div>

    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });
        });
    </script>

</body>
</html>
